.header-logo-container {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 8px;
}

.main-logo {
  height: 40px;
}

.text-logo {
  height: 30px;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .header-logo-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-logo {
    order: 1;
    width: 100%;
    height: 16px;
  }
}